h2 {
    color: salmon;
}
h3 {
    color: red;
}
.outer-click-example-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 150px;
}
.outer-click-example-list li {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 3px;
    margin-top: -1px;
}
.outer-click-example-list li:hover {
    background-color: lightgray;
}
.math-input {
    width: 60px;
}
.math-input+span+button {
    display: block;
    margin: 5px 0;
}